@page
<!-- Index.cshtml -->
<!-- Model directive -->
@model Index1Model
@{
	// Add ViewData Title below
	ViewData["Title"] = "Home";
}



<div class="container">
	<h1>Hey there, I'm @Model.FullName!</h1>
	<h2>.NET / C# Software Developer</h2>
</div>

<br />
<div class="container">
	<div class="resume-content">
		<h4>Professional Profile</h4>
		<ul>
			@foreach (var item in Model.ProfessionalProfile)
			{
				<li>@item</li>
			}
		</ul>
	</div>
	
	<br />

	<div class="resume-content">
		<h4>Technical Skills</h4>
		<ul>
			@foreach (var item in Model.Technologies)
			{
				<li><strong>@item.Key: </strong>
					@for (int i = 0; i < item.Value.Count; i++)
					{
						if(i == item.Value.Count - 1)
						{
							<span>@item.Value[i]</span>
						}
						else
						{
							<span>@item.Value[i], </span>
						}
					}
				</li>
			}
		</ul>
	</div>

	<br />
	<div class="resume-content">
		<h4>Core Competencies</h4>
		<ul>
			@foreach (var competency in Model.CoreCompetencies)
			{
				<li>@competency</li>
			}
		</ul>

	</div>

	<br />
	<div>
		<h4>Languages</h4>
		<ul>
			@foreach (string language in Model.Languages)
			{
				<li>@language</li>
			}
		</ul>
		
	</div>
	<div class="resume-content">
		<p class="general-content">
			For more information about me, please refer to my
			<partial name="_Links" for="@Model.LinkedInUsername"></partial>
		</p>
	</div>
</div>
<br />
